<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des clients</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des privilèges</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getRolesNumber() }} Privilèges</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher un privilège..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom</th>
										<th class="text-center" style="width: auto;">Gestion des privilèges</th>
										<th class="text-center" style="width: auto;">Gestion des directeurs</th>
										<th class="text-center" style="width: auto;">Gestion des ingénieurs</th>
										<th class="text-center" style="width: auto;">Gestion des clients</th>
										<th class="text-center" style="width: auto;">Gestion des produits</th>
										<th class="text-center" style="width: auto;">Gestion des tarifs</th>
										<th class="text-center" style="width: auto;">Gestion des ventes</th>
										<th class="text-center" style="width: auto;">Gestion des commandes</th>
										<th class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let role of roles | rolesFilter: searchText">
										<td class="text-center">{{ role.id }}</td>
										<td class="text-center">{{ role.name }}</td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.privileges_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.directors_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.engineers_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.clients_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.products_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.prices_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.sales_management"></label></td>
										<td class="text-center"><label nz-checkbox [(ngModel)]="role.orders_management"></label></td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" (click)="updateRoleConfirmation(role, 'Êtes-vous sûr de modifier ce rôle ?')">
												<i class="fa fa-edit"></i> Modifier
											</a>
										</td>
									</tr>
									<tr *ngIf="getRolesNumber() == 0">
										<td colspan="11" class="text-center">
											Aucun rôle.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom</th>
										<th class="text-center" style="width: auto;">Gestion des privilèges</th>
										<th class="text-center" style="width: auto;">Gestion des directeurs</th>
										<th class="text-center" style="width: auto;">Gestion des ingénieurs</th>
										<th class="text-center" style="width: auto;">Gestion des clients</th>
										<th class="text-center" style="width: auto;">Gestion des produits</th>
										<th class="text-center" style="width: auto;">Gestion des tarifs</th>
										<th class="text-center" style="width: auto;">Gestion des ventes</th>
										<th class="text-center" style="width: auto;">Gestion des commandes</th>
										<th class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>