.client-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.clients table tr td {
    height: 46px;
    vertical-align: middle;
}

.clients table tr td a {
    vertical-align: middle;
}

.clients-number {
    padding-left: 0px !important;
}

.pagination {
    display: block !important;
    margin: 0px 0px !important;
}

.ctrl-btn-marging {
    margin: 0px 5px;
}

.client-status {
    text-align: center !important;
}