<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des produits</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des produits</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getProductsNumber() }} Produits</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher un produit..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom</th>
										<th class="text-center" style="width: auto;">Description</th>
										<th class="text-center" style="width: auto;">Catégorie</th>
										<th class="text-center" style="width: auto;">Prix unitaire (MAD)</th>
										<th class="text-center" style="width: auto;">Quantité</th>
										<th class="text-center" style="width: auto;">Région</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let product of products | productsFilter: searchText">
										<td class="text-center">{{ product.id }}</td>
										<td>
											<img class="client-avatar" alt="image" src="assets/layout/img/{{ product.avatar }}">
											{{ product.name }}
										</td>
										<td>{{ product.description }}</td>
										<td class="text-center">{{ product.category.name }}</td>
										<td class="text-center">{{ product.unit_price | number:'1.2-2' }}</td>
										<td class="text-center">{{ product.quantity }}</td>
										<td>{{ product.region.name }}</td>
										<td class="client-status text-center">
											<span class="label label-primary" style="width: 100%;" *ngIf="product.status == 1">Activé</span>
											<span class="label label-danger" style="width: 100%;" *ngIf="product.status == 0">Désactivé</span>
										</td>
										<td class="text-center">
											<a class="btn btn-primary btn-xs" *ngIf="product.status == 0" (click)="changeProductStatusConfirmation(product, 'Êtes-vous sûr d\'activer ce produit?')">
												<i class="fa fa-check"></i> Activer
											</a>
											<a class="btn btn-danger btn-xs" *ngIf="product.status == 1" (click)="changeProductStatusConfirmation(product, 'Êtes-vous sûr de désactiver ce produit?')">
												<i class="fa fa-times"></i> Désactiver
											</a>
										</td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" [routerLink]="['./product/', product.id]">
												<i class="fa fa-edit"></i> Modifier
											</a>
										</td>
									</tr>
									<tr *ngIf="getProductsNumber() == 0">
										<td colspan="12" class="text-center">
											Aucun produit.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom</th>
										<th class="text-center" style="width: auto;">Description</th>
										<th class="text-center" style="width: auto;">Catégorie</th>
										<th class="text-center" style="width: auto;">Prix unitaire (MAD)</th>
										<th class="text-center" style="width: auto;">Quantité</th>
										<th class="text-center" style="width: auto;">Région</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</tfoot>
							</table>

							<div>
								<a [routerLink]="['./nouveau-produit']" class="btn btn-primary btn-sm pull-left">
									<i class="fa fa-user-plus"></i> Nouveau produit
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>