<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nouveau directeur</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/administration']">Accueil</a>
      </li>
      <li>
        <a [routerLink]="['/administration/gestion-des-ingenieurs']">Gestion des directeurs</a>
      </li>
      <li class="active">
        <strong>Nouveau directeur</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInLeft">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <fieldset class="form-horizontal">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
              <div class="col-sm-2" style="text-align: center;">
                <div class="row">
                  <img src="assets/layout/img/avatars/default.png" class="img-circle circle-border m-b-md profile-pic"
                    alt="profile">
                  <nz-form-item>
                    <nz-form-label>Photo</nz-form-label>
                    <nz-form-control>
                      <input nz-input type="file" formControlName="avatar" (change)="selectFile($event)">
                      <nz-form-explain *ngIf="validateForm.get('avatar').dirty && validateForm.get('avatar').errors">
                        <ng-container *ngIf="validateForm.get('avatar').hasError('required')">
                          Veuillez saisir votre Photo!
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                  <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
                </div>
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <h2>Informations personnelles</h2>
                      <hr>
                    </div>
                    <div class="col-sm-6">
                      <nz-form-item>
                        <nz-form-label nzRequired>Nom</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.last_name" formControlName="last_name"
                            placeholder="Nom">
                          <nz-form-explain *ngIf="validateForm.get('last_name').dirty && validateForm.get('last_name').errors">
                            <ng-container *ngIf="validateForm.get('last_name').hasError('required')">
                              Veuillez saisir votre Nom!
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label nzRequired>Prénom</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.first_name" formControlName="first_name"
                            placeholder="Prénom">
                          <nz-form-explain *ngIf="validateForm.get('first_name').dirty && validateForm.get('first_name').errors">
                            <ng-container *ngIf="validateForm.get('first_name').hasError('required')">
                              Veuillez saisir votre Prénom!
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label nzRequired>CIN</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.cin" formControlName="cin" placeholder="CIN">
                          <nz-form-explain *ngIf="validateForm.get('cin').dirty && validateForm.get('cin').errors || validateForm.get('cin').pending">
                            <ng-container *ngIf="validateForm.get('cin').hasError('required')">
                              Veuillez saisir votre CIN!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('cin').hasError('duplicated')">
                              Ce CIN existe déjà!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('cin').pending">
                              Validation...
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-sm-6">
                      <nz-form-item>
                        <nz-form-label nzRequired>Téléphone</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.phone" formControlName="phone" placeholder="Téléphone">
                          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">
                            <ng-container *ngIf="validateForm.get('phone').hasError('required')">
                              Veuillez saisir votre Téléphone!
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label nzRequired>Adresse</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.address" formControlName="address" placeholder="Adresse">
                          <nz-form-explain *ngIf="validateForm.get('address').dirty && validateForm.get('address').errors">
                            <ng-container *ngIf="validateForm.get('address').hasError('required')">
                              Veuillez saisir votre Adresse!
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <div class="row">
                        <div class="col-sm-8">
                          <nz-form-item>
                            <nz-form-label nzRequired>Ville</nz-form-label>
                            <nz-form-control nzHasFeedback>
                              <nz-select name="city" [(ngModel)]="cityId" formControlName="city" nzShowSearch
                                nzAllowClear nzPlaceHolder="Veuillez choisir votre ville...">
                                <nz-option *ngFor="let city of getCities()" nzValue="{{city.id}}" nzLabel="{{city.name}}"></nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="col-sm-4">
                          <nz-form-item>
                            <nz-form-label nzRequired>Code postal</nz-form-label>
                            <nz-form-control nzHasFeedback>
                              <input nz-input type="text" [(ngModel)]="user.zip_code" formControlName="zip_code"
                                placeholder="Code postal">
                              <nz-form-explain *ngIf="validateForm.get('zip_code').dirty && validateForm.get('zip_code').errors">
                                <ng-container *ngIf="validateForm.get('zip_code').hasError('required')">
                                  Veuillez saisir votre Code postal!
                                </ng-container>
                              </nz-form-explain>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <h2>Informations de connexion</h2>
                      <hr>
                    </div>
                    <div class="col-sm-6">
                      <nz-form-item>
                        <nz-form-label nzRequired>E-mail</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="email" [(ngModel)]="user.email" formControlName="email" placeholder="E-mail">
                          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors || validateForm.get('email').pending">
                            <ng-container *ngIf="validateForm.get('email').hasError('email')">
                              Veuillez saisir un e-mail valide!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('email').hasError('required')">
                              Veuillez saisir votre e-mail!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('email').hasError('duplicated')">
                              Cet E-mail existe déjà!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('email').pending">
                              Validation...
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label nzRequired>Nom d'utilisateur</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="text" [(ngModel)]="user.username" formControlName="username"
                            placeholder="Nom d'utilisateur">
                          <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors || validateForm.get('username').pending">
                            <ng-container *ngIf="validateForm.get('username').hasError('required')">
                              Veuillez saisir votre nom d'utilisateur!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('username').hasError('duplicated')">
                              Ce nom d'utilisateur existe déjà!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('username').pending">
                              Validation...
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-sm-6">
                      <nz-form-item>
                        <nz-form-label nzRequired>Mot de passe</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="password" [(ngModel)]="user.password" formControlName="password"
                            placeholder="Mot de passe" (ngModelChange)="validateConfirmPassword()">
                          <nz-form-explain *ngIf="validateForm.get('password').dirty&&validateForm.get('password').hasError('required')">
                            Veuillez saisir votre mot de passe!
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                        <nz-form-label nzRequired>Confirmation de mot de passe</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <input nz-input type="password" formControlName="confirm" placeholder="Confirmation de mot de passe">
                          <nz-form-explain *ngIf="validateForm.get('confirm').dirty&&validateForm.get('confirm').errors">
                            <ng-container *ngIf="validateForm.get('confirm').hasError('required')">
                              Veuillez confirmer votre mot de passe!
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('confirm').hasError('confirm')">
                              Les mots de passe ne correspondent pas!
                            </ng-container>
                          </nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-sm-12">
                      <h2>Lieux de travail</h2>
                      <hr>
                    </div>
                    <div class="col-sm-6">
                      <nz-form-item>
                        <nz-form-label nzRequired>Région</nz-form-label>
                        <nz-form-control nzHasFeedback>
                          <nz-select name="region" [(ngModel)]="regionId" formControlName="region" nzShowSearch
                            nzAllowClear nzPlaceHolder="Veuillez choisir la région de travail...">
                            <nz-option *ngFor="let region of getRegions()" nzValue="{{region.id}}" nzLabel="{{region.name}}"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div class="col-sm-12">
                      <h2>Contrôle</h2>
                      <hr>
                    </div>

                    <div class="col-sm-12">
                      <nz-form-item>
                        <nz-form-label nzRequired>
                          Statut
                          <i nz-icon nz-tooltip nzTitle="Activer / Désactiver cet ingénieur" type="question-circle"
                            theme="outline" style="margin-top: 2px;"></i>
                        </nz-form-label>
                        <nz-form-control>
                          <nz-switch [(ngModel)]="user.status" formControlName="status" [nzCheckedChildren]="checkedTemplate"
                            [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                          <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
                          <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
                        </nz-form-control>
                      </nz-form-item>

                    </div>

                    <div class="col-sm-12">
                      <nz-form-item>
                        <nz-form-control>
                          <button nz-button nzType="primary" [disabled]="!validateForm.valid" class="submit-margins">Confirmer</button>
                          <button nz-button (click)="resetForm($event)" class="btn btn-default" class="submit-margins">Réinitialiser</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>