.form-btns {
    margin-top: 15px;
}

.btn-submit {
    margin-right: 5px;
}

.profile-pic {
    width: 100%;
}

.title {
    margin-top: 20px;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
}

.ant-form-item-label {
    line-height: normal !important;
}