<!-- Main Container Starts -->
<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
	<ol class="breadcrumb">
		<li><a [routerLink]="['/']">Accuiel</a></li>
		<li class="active">Panier</li>
	</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
	<h2 class="main-heading text-center">
		Panier
	</h2>
	<!-- Main Heading Ends -->
	<!-- Shopping Cart Table Starts -->
	<div class="table-responsive shopping-cart-table">
		<table class="table table-bordered" style="border: 1px solid #ddd !important;">
			<thead>
				<tr>
					<td class="text-center">
						Image
					</td>
					<td class="text-center">
						Nom du produit
					</td>
					<td class="text-center">
						Quantité
					</td>
					<td class="text-center">
						Prix unitaire
					</td>
					<td class="text-center">
						Total
					</td>
					<td class="text-center">
						Action
					</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="getShoppingCartContent().length == 0">
					<td colspan="6" class="text-center">
						<p>Panier vide</p>
					</td>
				</tr>
				<tr *ngFor="let item of getShoppingCartContent()">
					<td class="text-center">
						<a>
							<img src="assets/img/products/{{ item.product.picture }}" alt="{{ item.product.name }} picture" title="{{ item.product.name }}"
							 class="img-thumbnail" />
						</a>
					</td>
					<td class="text-center">
						<a>{{ item.product.name }}</a>
					</td>
					<td class="text-center">
						<div class="input-group btn-block">
							<input type="number" [(ngModel)]="item.quantity" placeholder="Quantité" class="form-control">
						</div>
					</td>
					<td class="text-center">
						{{ item.product.unit_price }} MAD
					</td>
					<td class="text-center">
						{{ item.product.unit_price * item.quantity }} MAD
					</td>
					<td class="text-center">
						<button type="button" title="Remove" class="btn btn-default tool-tip" (click)="removeFromShoppingCart(item.product, item.quantity)">
							<i class="fa fa-times-circle"></i>
						</button>
					</td>
				</tr>
			</tbody>

			<tfoot *ngIf="getShoppingCartContent().length != 0">
				<tr>
					<td colspan="4" class="registration-area text-right">
						Total HT :<br>
						TVA (20%) :<br>
						<strong class="dl-horizontal total">Total TTC :</strong>
					</td>
					<td colspan="2" class="registration-area text-left">
						{{ getPrixHT() | number:'1.2-2' }} MAD<br>
						{{ getPrixTVA() | number:'1.2-2' }} MAD<br>
						<strong class="dl-horizontal total">{{ getPrixTTC() | number:'1.2-2' }} MAD</strong>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="text-right"><strong>Action :</strong></td>
					<td colspan="2" class="text-left">
						<button class="btn btn-black submit-margins" (click)="placeOrder()">Commander</button>
						<button [routerLink]="['/']" class="btn btn-default">Continuer</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- Shopping Cart Table Ends -->
</div>
<!-- Main Container Ends -->