<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Commande N°{{ getOrderId() }} (Réf: {{ getOrderReference() | uppercase }})</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li>
				<a [routerLink]="['/administration/gestion-des-commandes']">Gestion des commandes</a>
			</li>
			<li class="active">
				<strong>Commande N°{{ getOrderId() }} (Réf: {{ getOrderReference() | uppercase }})</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getItemsNumber() }} Produits</h2>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom du produit</th>
										<th class="text-center" style="width: auto;">Quantité</th>
										<th class="text-center" style="width: auto;">Prix unitaire (MAD)</th>
										<th class="text-center" style="width: auto;">Total HT (MAD)</th>
									</tr>
								</thead>

								<tbody>
									<tr *ngFor="let item of items">
										<td class="text-center">
											{{ item.id }}
										</td>
										<td class="text-center">
											{{ item.product.name }}
										</td>
										<td class="text-center">
											<div class="input-group btn-block" *ngIf="getOrderStatus() == 1">
												<input type="number" [(ngModel)]="item.quantity" placeholder="Prix après négociation" class="form-control">
											</div>
											<span *ngIf="getOrderStatus() != 1">{{ item.quantity }}</span>
										</td>
										<td class="text-center">
											<div class="input-group btn-block" *ngIf="getOrderStatus() == 1">
												<input type="number" [(ngModel)]="item.negociation_unit_price" placeholder="Prix après négociation" class="form-control">
											</div>
											<span *ngIf="getOrderStatus() != 1">{{ item.product.unit_price }}</span>
										</td>
										<td class="text-center">
											{{ item.quantity * item.negociation_unit_price | number:'1.2-2' }}
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<td colspan="4" class="registration-area text-right">
											Total HT :<br>
											TVA (20%) :<br>
										</td>
										<td colspan="1" class="registration-area text-left">
											{{ getPrixHT() | number:'1.2-2' }} MAD<br>
											{{ getPrixTVA() | number:'1.2-2' }} MAD<br>
										</td>
									</tr>
									<tr>
										<td colspan="4" class="registration-area text-right">
											<strong class="dl-horizontal total">Total TTC :</strong>
										</td>
										<td colspan="1" class="registration-area text-left">
											<strong class="dl-horizontal total">{{ getPrixTTC() | number:'1.2-2' }} MAD</strong>
										</td>
									</tr>
									<tr *ngIf="getOrderStatus() == 2">
										<td colspan="4" class="text-right"><strong>Action :</strong></td>
										<td colspan="1" class="text-left">
											<a (click)="validateOrder()" class="btn btn-success btn-sm pull-left submit-margins">
												<i class="fa fa-check" aria-hidden="true"></i> Valider
											</a>
											<a (click)="changeOrderStatus(0)" class="btn btn-danger btn-sm pull-left">
												<i class="fa fa-times" aria-hidden="true"></i> Annuler
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>