<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="row">
		<div class="col-lg-4">
			<div class="widget style1 red-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Nouvelles commandes </span>
						<h2 class="font-bold">{{ getNewOrdersNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 yellow-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-spinner fa-5x" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Commandes en attente </span>
						<h2 class="font-bold">{{ getPendingOrdersNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 navy-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Commandes terminées</span>
						<h2 class="font-bold">{{ getValidatedOrdersNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 black-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Commandes annulées </span>
						<h2 class="font-bold">{{ getCanceledOrdersNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 lazur-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Nombre de commandes </span>
						<h2 class="font-bold">{{ getOrdersNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 turquoise-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-tags fa-5x" aria-hidden="true"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Nombre de produits </span>
						<h2 class="font-bold">{{ getProductsNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="widget style1 blue-bg">
				<div class="row">
					<div class="col-xs-4">
						<i class="fa fa-users fa-5x"></i>
					</div>
					<div class="col-xs-8 text-right">
						<span> Nombre de clients </span>
						<h2 class="font-bold">{{ getClientsNumber() }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>