<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="minimalize-styl-2 btn btn-primary" (click)="toggleNavigation()">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
			<form role="search" class="navbar-form-custom" method="post" action="#">
				<div class="form-group">
					<input type="text" placeholder="Rechercher quelque chose..." class="form-control" name="top-search" id="top-search">
				</div>
			</form>
		</div>

		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message">Bienvenue à l'administration d'AGRA.</span>
			</li>

			<li>
				<a [routerLink]="['/magasin']">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> Magasin
				</a>
			</li>

			<li>
				<a (click)="logout()">
					<i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion
				</a>
			</li>
		</ul>
	</nav>
</div>