<div class="passwordBox animated fadeInDown">
	<div class="row">

		<div class="col-md-12">
			<div class="ibox-content">

				<h2 class="font-bold">Mot de passe oublié</h2>

				<p>
					Entrez votre adresse e-mail et votre mot de passe sera réinitialisé et envoyé par courrier électronique.
				</p>

				<div class="row">

					<div class="col-lg-12">
						<form class="m-t" role="form" action="index.html">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Adresse électronique" required="required">
							</div>

							<button type="submit" class="btn btn-primary block full-width m-b">Envoyer un nouveau mot de passe</button>

							<div class="text-center">
								<a (click)="goBack()"><small>Se connecter</small></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			Copyright AGRA
		</div>
		<div class="col-md-6 text-right">
			<small>© 2018-2019</small>
		</div>
	</div>
</div>