<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des directeurs</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des directeurs</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getDirectorsNumber() }} Directeurs</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher un directeur..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Région de travail</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let director of directors | directorsFilter: searchText">
										<td class="text-center">{{ director.user.id }}</td>
										<td>
											<img class="client-avatar" alt="image" src="assets/layout/img/{{ director.avatar }}">
											{{ director.user.first_name }} {{ director.user.last_name }}
										</td>
										<td>{{ director.user.cin }}</td>
										<td>{{ director.user.username }}</td>
										<td>{{ director.user.email }}</td>
										<td>{{ director.user.phone }}</td>
										<td>{{ director.user.address }}</td>
										<td>{{ director.user.city.name }}</td>
										<td class="text-center">{{ director.user.zip_code }}</td>
										<td>{{ director.work_region.name }}</td>
										<td class="client-status text-center">
											<span class="label label-primary" style="width: 100%;" *ngIf="director.user.status == 1">Activé</span>
											<span class="label label-danger" style="width: 100%;" *ngIf="director.user.status == 0">Désactivé</span>
										</td>
										<td class="text-center">
											<a class="btn btn-primary btn-xs" *ngIf="director.user.status == 0" (click)="changeDirectorStatusConfirmation(director, 'Êtes-vous sûr d\'activer ce directeur?')">
												<i class="fa fa-check"></i> Activer
											</a>
											<a class="btn btn-danger btn-xs" *ngIf="director.user.status == 1" (click)="changeDirectorStatusConfirmation(director, 'Êtes-vous sûr de désactiver ce directeur?')">
												<i class="fa fa-times"></i> Désactiver
											</a>
										</td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" [routerLink]="['./directeur/', director.id]">
												<i class="fa fa-edit"></i> Modifier
											</a>
										</td>
									</tr>
									<tr *ngIf="getDirectorsNumber() == 0">
										<td colspan="12" class="text-center">
											Aucun directeur.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Région de travail</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</tfoot>
							</table>

							<div>
								<a [routerLink]="['./nouveau-directeur']" class="btn btn-primary btn-sm pull-left">
									<i class="fa fa-user-plus"></i> Nouveau directeur
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>