<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Saad Tinani</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li>
				<a [routerLink]="['/administration/gestion-des-clients']">Gestion des clients</a>
			</li>
			<li class="active">
				<strong>Saad Tinani</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<fieldset class="form-horizontal">
						<div class="col-sm-2" style="text-align: center;">
							<div class="form-group">
								<img src="assets/layout/img/avatars/a4.jpg" class="img-circle circle-border m-b-md profile-pic" alt="profile">
							</div>
						</div>
						<div class="col-sm-10">
							<div class="form-group">
								<div class="col-sm-12">
									<h2>Informations personnelles</h2>
									<hr>
								</div>
								<div class="col-sm-6">
									<label class="control-label">Nom:</label>
									<input type="text" class="form-control" placeholder="Nom" name="last_name" value="">
								</div>
								<div class="col-sm-6">
									<label class="control-label">Prénom:</label>
									<input type="text" class="form-control" placeholder="Prénom" name="first_name" value="">
								</div>

								<div class="col-sm-6">
									<label class="control-label">Addresse:</label>
									<input type="text" class="form-control" placeholder="Adresse" name="address" value="">
								</div>
								<div class="col-sm-4">
									<label class="control-label">Ville:</label>
									<select class="form-control" name="city">
										<option>option 1</option>
										<option>option 2</option>
									</select>
								</div>
								<div class="col-sm-2">
									<label class="control-label">Code postal:</label>
									<input type="number" class="form-control" placeholder="Code postal" name="zip_code" value="">
								</div>

								<div class="col-sm-6">
									<label class="control-label">Téléphone:</label>
									<input type="text" class="form-control" placeholder="Téléphone" name="phone" value="">
								</div>

								<div class="col-sm-12 title">
									<h2>Informations de connexion</h2>
									<hr>
								</div>
								<div class="col-sm-6">
									<label class="control-label">Nom d'utilisateur:</label>
									<input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" value="">
								</div>
								<div class="col-sm-6">
									<label class="control-label">Email:</label>
									<input type="email" class="form-control" placeholder="Email" name="email" value="">
								</div>

								<div class="col-sm-6">
									<label class="control-label">Mot de passe:</label>
									<input type="password" class="form-control" placeholder="Mot de passe" name="password" value="">
								</div>
								<div class="col-sm-6">
									<label class="control-label">Confirmation de mot de passe:</label>
									<input type="password" class="form-control" placeholder="Confirmation de mot de passe" name="password_confirmation"
									 value="">
								</div>

								<div class="col-sm-12 title">
									<h2>Contrôle</h2>
									<hr>
								</div>

								<div class="col-sm-6">
									<label class="control-label">Statut:</label>
									<input type="number" class="form-control" placeholder="Code postal" name="status" value="">
								</div>

								<div class="col-sm-12 form-btns">
									<label class="control-label"></label>
									<input type="submit" class="btn btn-primary btn-submit pull-left" name="submit" value="Confirmer">
									<a class="btn btn-default pull-left" (click)="goBack()">Annuler</a>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>