<div class="col-md-3">
	<!-- Categories Links Starts -->
	<h3 class="side-heading">Categories</h3>
	<div class="list-group categories">
		<a [routerLink]="['/magasin/categories/', category.id]" class="list-group-item" *ngFor="let category of getCategories()">
			<i class="fa fa-chevron-right"></i>
			{{ category.name }}
		</a>
	</div>
	<!-- Categories Links Ends -->
	<!-- Banner #1 Starts -->
	<img src="assets/layout/img/banners/side-banner1.jpg" alt="Side Banner" class="img-responsive" />
	<br>
	<!-- Banner #1 Ends -->
</div>