<div class="footer">
	<div class="pull-right">
		Application développée par : <a href="https://www.linkedin.com/in/saad-tinani/"><strong>Saad TINANI</strong></a> & <a href="https://www.linkedin.com/in/karim-zohdi/"><strong>Karim ZOHDI</strong></a>
	</div>
	<div>
		<strong>Copyright</strong> AGRA &copy; 2018-2019
	</div>
</div>