<!-- Main Container Starts -->
<div id="main-container" class="container">
	<div class="row">
		<!-- Primary Content Starts -->
		<div class="col-md-9">
			<!-- Breadcrumb Starts -->
			<ol class="breadcrumb">
				<li><a [routerLink]="['/']">Accuiel</a></li>
				<li class="active">{{ this.getCategory().name }}</li>
			</ol>
			<!-- Breadcrumb Ends -->

			<!-- Main Heading Starts -->
			<h2 class="main-heading2">
				{{ this.getCategory().name }}
			</h2>
			<!-- Main Heading Ends -->

			<!-- Category Intro Content Starts -->
			<div class="row">
				<div class="col-sm-12 cat-body">
					<p>
						{{ this.getCategory().description }}
					</p>
				</div>
			</div>
			<!-- Category Intro Content Ends -->

			<!-- Product Filter Starts -->
			<div class="row">
				<div class="col-sm-12">
					<hr>
				</div>
			</div>
			<!-- Product Filter Ends -->

			<!-- Product Grid Display Starts -->
			<div class="row">
				<!-- Product #1 Starts -->
				<div class="col-md-4 col-sm-6" *ngFor="let product of getProducts()">
					<div class="product-col">
						<div class="image">
							<img src="assets/layout/img/products/product.jpg" alt="Photo de {{ product.name }}" class="img-responsive" />
						</div>
						<div class="caption">
							<h4><a>{{ product.name }}</a></h4>
							<div class="description">
								{{ product.description }}
							</div>
							<div class="price">
								<span class="price-new">{{ product.unit_price | number:'1.2-2' }} MAD</span>
							</div>
							<div class="cart-button button-group">
								<button type="button" class="btn btn-cart" (click)="addToShoppingCart(product)">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									Ajouter au panier
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Product #1 Ends -->
			</div>
			<!-- Product Grid Display Ends -->
		</div>
		<!-- Primary Content Ends -->
	</div>
</div>
<!-- Main Container Ends -->