<div class="col-md-9">
	<!-- Slider Section Starts -->
	<div class="slider">
		<div id="main-carousel" class="carousel slide" data-ride="carousel">
			<!-- Wrapper For Slides Starts -->
			<div class="carousel-inner">
				<div class="item">
					<img src="assets/layout/img/slider-imgs/slide2-img.jpg" alt="Slider" class="img-responsive" />
				</div>
				<div class="item active">
					<img src="assets/layout/img/slider-imgs/slide1-img.jpg" alt="Slider" class="img-responsive" />
				</div>
				<div class="item">
					<img src="assets/layout/img/slider-imgs/slide3-img.jpg" alt="Slider" class="img-responsive" />
				</div>
			</div>
			<!-- Wrapper For Slides Ends -->
			<!-- Controls Starts -->
			<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			<!-- Controls Ends -->
		</div>
	</div>
	<!-- Slider Section Ends -->
	<!-- 2 Column Banners Starts -->
	<div class="col2-banners">
		<ul class="row list-unstyled">
			<li class="col-sm-8">
				<img src="assets/layout/img/banners/2col-banner1.jpg" alt="banners" class="img-responsive" />
			</li>
			<li class="col-sm-4">
				<img src="assets/layout/img/banners/2col-banner2.jpg" alt="banners" class="img-responsive" />
			</li>
		</ul>
	</div>
	<!-- 2 Column Banners Ends -->
	<!-- Latest Products Starts -->
	<section class="product-carousel">
		<!-- Heading Starts -->
		<h2 class="product-head">Produits récents</h2>
		<!-- Heading Ends -->
		<!-- Products Row Starts -->
		<div class="row">
			<div class="col-xs-12">
				<!-- Product Carousel Starts -->
				<div id="owl-product" class="owl-carousel">
					<!-- Product #1 Starts -->
					<div class="item" *ngFor="let product of getProducts()">
						<div class="product-col">
							<div class="image">
								<img src="assets/layout/img/products/product.jpg" alt="Photo de {{ product.name }}" class="img-responsive" />
							</div>
							<div class="caption">
								<h4><a>{{ product.name }}</a></h4>
								<div class="description">
									{{ product.description }}
								</div>
								<div class="price">
									<span class="price-new">{{ product.unit_price | number:'1.2-2' }} MAD</span>
								</div>
								<div class="cart-button button-group">
									<button type="button" class="btn btn-cart" (click)="addToShoppingCart(product)">
										<i class="fa fa-shopping-cart" aria-hidden="true"></i>
										Ajouter au panier
									</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Product #1 Ends -->
				</div>
				<!-- Product Carousel Ends -->
			</div>
		</div>
		<!-- Products Row Ends -->
	</section>
	<!-- Latest Products Ends -->
</div>