<header id="header-area">
	<!-- Header Top Starts -->
	<div class="header-top">
		<div class="container">
			<div class="row">
				<!-- Header Links Starts -->
				<div class="col-sm-8 col-xs-12">
					<div class="header-links">
						<ul class="nav navbar-nav pull-left">
							<li>
								<a [routerLink]="['/']">
									<i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
									<span class="hidden-sm hidden-xs">
										Accueil
									</span>
								</a>
							</li>
							<li *ngIf="showAdministrationLink()">
								<a [routerLink]="['/administration']">
									<i class="fa fa-home hidden-lg hidden-md" title="Administration"></i>
									<span class="hidden-sm hidden-xs">
										Administration
									</span>
								</a>
							</li>
							<li>
								<a [routerLink]="['/magasin/panier']">
									<i class="fa fa-user hidden-lg hidden-md" title="My Account"></i>
									<span class="hidden-sm hidden-xs">
										Panier
									</span>
								</a>
							</li>
							<li *ngIf="!IsLoggedIn()">
								<a [routerLink]="['/connexion']">
									<i class="fa fa-lock hidden-lg hidden-md" title="Login"></i>
									<span class="hidden-sm hidden-xs">
										S'identifier
									</span>
								</a>
							</li>
							<li *ngIf="IsLoggedIn()">
								<a (click)="logout()">
									<i class="fa fa-lock hidden-lg hidden-md" title="Login"></i>
									<span class="hidden-sm hidden-xs">
										Se déconnecter
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Header Links Ends -->
			</div>
		</div>
	</div>
	<!-- Header Top Ends -->
	<!-- Main Header Starts -->
	<div class="main-header">
		<div class="container">
			<div class="row">
				<!-- Search Starts -->
				<div class="col-md-3">
					<div id="search">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<!-- Search Ends -->
				<!-- Logo Starts -->
				<div class="col-md-6">
					<div id="logo" class="text-center">
						<a [routerLink]="['/']">
							<!-- <h1>AGRA</h1> -->
							<img src="assets/layout/img/agra_logo.png" title="Agra Logo" alt="Agra Logo" class="img-responsive" />
						</a>
					</div>
				</div>
				<!-- Logo Starts -->
				<!-- Shopping Cart Starts -->
				<div class="col-md-3">
					<div id="cart" class="btn-group btn-block">
						<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
							<i class="fa fa-shopping-cart"></i>
							<span class="hidden-md">Cart:</span>
							<span id="cart-total" style="font-size: 14px;">{{ getItemsNumber() }} item(s) - {{ getPrixTTC() | number:'1.2-2' }} MAD</span>
							<i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<table class="table hcart">
									<tr *ngFor="let item of getShoppingCartContent()">
										<td class="text-center" style="width: 5%; height: auto;">
											<a>
												<img src="assets/img/products/{{ item.product.picture }}" alt="{{ item.product.name }} picture" title="{{ item.product.name }}" class="img-thumbnail img-responsive" />
											</a>
										</td>
										<td class="text-left">
											<a>
												{{ item.product.name }}
											</a>
										</td>
										<td class="text-right">x {{ item.quantity }}</td>
										<td class="text-right">{{ item.product.unit_price }} MAD</td>
										<td class="text-center">
											<a (click)="removeFromShoppingCart(item.product)">
												<i class="fa fa-times"></i>
											</a>
										</td>
									</tr>
								</table>
							</li>
							<li *ngIf="getShoppingCartContent().length > 0">
								<table class="table table-bordered total">
									<tbody>
										<tr>
											<td class="text-right"><strong>Prix HT</strong></td>
											<td class="text-left">{{ getPrixHT() | number:'1.2-2' }} MAD</td>
										</tr>
										<tr>
											<td class="text-right"><strong>TVA (20%)</strong></td>
											<td class="text-left">{{ getPrixTVA() | number:'1.2-2' }} MAD</td>
										</tr>
										<tr>
											<td class="text-right"><strong>Prix TTC</strong></td>
											<td class="text-left">{{ getPrixTTC() | number:'1.2-2' }} MAD</td>
										</tr>
									</tbody>
								</table>
								<p class="text-right btn-block1">
									<a [routerLink]="['/magasin/panier']">
										Commander
									</a>
								</p>
							</li>
							<li *ngIf="getShoppingCartContent().length == 0" class="text-center">Panier vide</li>
						</ul>
					</div>
				</div>
				<!-- Shopping Cart Ends -->
			</div>
		</div>
	</div>
	<!-- Main Header Ends -->
	<!-- Main Menu Starts -->
	<nav id="main-menu" class="navbar" role="navigation">
		<div class="container">
			<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
					<li><a [routerLink]="['/']">Accueil</a></li>
					<li><a [routerLink]="['/magasin/categories/', category.id]" *ngFor="let category of getCategories()">{{ category.name }}</a></li>
				</ul>
			</div>
			<!-- Navbar Cat collapse Ends -->
		</div>
	</nav>
	<!-- Main Menu Ends -->
</header>