/* Header Area Styles Starts */

#header-area {
    background: #fff;
    margin-bottom: 20px;
}

.header-top {
    background: #252a2f;
}

/* Header Links Styles Starts */

.header-links ul {}

.header-links li {
    display: inline-block;
}

.header-links li .fa {
    margin-right: 3px;
}

.header-links li, .header-links li a {
    color: #fff;
}

.header-links li a {
    padding: 12px 15px 12px 0;
}

.header-links li a:hover, .header-links li a:focus, .header-links li.active a {
    background: none;
    color: #72d279;
}

/* Currency & Languages Drop Down Styles Starts */

.header-top .btn-link {
    color: #fff;
    text-decoration: none;
    margin: 4px 0 0 0;
}

.header-top .open .btn-link {
    color: #72d279;
}

.header-top .btn-link i.fa {
    margin-left: 5px;
}

/* Main Header & Search Styles Starts */

.main-header {
    padding: 25px 0 35px;
}

#logo {
    margin-top: 15px;
}

#logo .img-responsive {
    margin-left: auto;
    margin-right: auto;
}

#search {
    margin: 12px 0 0 0;
}

#search .input-group {}

#search .input-group .form-control {
    background: none;
    border: solid #1ab394;
    border-width: 1px 0 1px 1px;
    color: #878a8c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search .input-group .btn {
    background: none;
    border: solid #1ab394;
    border-width: 1px 1px 1px 0;
    color: #1ab394;
    height: 46px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Cart Style Starts */

#cart .btn {
    color: #383838;
    background: none;
    border: 1px solid #1ab394;
    text-align: left;
    padding: 10px 15px;
    margin: 12px 0 0 0;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#cart .btn .fa-shopping-cart {
    color: #1ab394;
    line-height: none;
    font-size: 22px;
    margin-right: 10px;
    vertical-align: top;
}

#cart .btn span {
    color: #252a2f;
    font-size: 16px;
    text-transform: uppercase;
}

#cart .btn span#cart-total {
    color: #1ab394;
    padding: 0 8px 0 5px;
}

#cart .btn i.fa-caret-down {
    color: #1ab394;
    margin-left: 5px;
}

#cart .dropdown-menu {
    min-width: 100%;
    margin-top: 10px;
    background: #252a2f;
    color: #fff;
    border: none;
    z-index: 1001;
    padding: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#cart .open>.dropdown-menu {
    display: block;
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu table, #cart .dropdown-menu table td {
    background: none;
    border: none;
}

#cart .dropdown-menu table.hcart td, .line-bottom {
    border-bottom: 1px solid #54575b;
}

.line-top, .btn-block1 {
    border-top: 1px solid #54575b;
}

#cart .btn-block1 {
    padding: 20px 0 0;
}

#cart .btn-block1 a {
    padding: 8px 12px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

#cart .btn-block1 a:hover, #cart .btn-block1 a+a {
    background: #1ab394;
    color: #fff;
}

#cart .btn-block1 a, #cart .btn-block1 a+a:hover {
    background: #fff;
    color: #252a2f;
}

#cart .dropdown-menu li>div {
    min-width: 427px;
    padding: 0 10px;
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}

#cart .dropdown-menu table.total {}

#cart .dropdown-menu table.total td {
    padding: 2px 8px;
}

#cart .dropdown-menu table td a {
    color: #1ab394;
}

#cart .dropdown-menu table td a:hover {
    color: #fff;
}

/* Main Menu Styles Starts */

#main-menu {
    background: #1ab394;
}

#main-menu.navbar {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#main-menu .navbar-nav>li {}

#main-menu .navbar-nav>li+li {}

#main-menu .navbar-nav>li a {
    color: #fff;
    text-transform: uppercase;
}

#main-menu .navbar-nav>li>a:hover, #main-menu .navbar-nav>li>a:focus, #main-menu .navbar-nav>li.open a {
    background: #252a2f;
    color: #fff;
}

#main-menu .dropdown-menu {
    background: #252a2f;
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#main-menu .dropdown-menu li a {
    color: #fff;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
}

#main-menu .dropdown-menu li:hover a {
    background: #42484f;
    text-decoration: none;
}

#main-menu .dropdown-inner {
    display: table;
    padding-bottom: 10px;
}

#main-menu .dropdown-inner ul {
    display: table-cell;
}

#main-menu .dropdown-inner .dropdown-header {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0 10px 15px;
}

#main-menu .dropdown-inner li a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
}