<app-header></app-header>

<div id="main-container-home" class="container">

	<div class="row">

		<side-bar *ngIf="getSideBar"></side-bar>

		<router-outlet></router-outlet>

	</div>

</div>

<app-footer></app-footer>