<!-- Main view/routes wrapper-->
<router-outlet></router-outlet>

<ngx-spinner bdColor="rgba(25, 170, 141, 0.6)" size="large" color="#fff" loadingText="Chargement..." type="ball-scale-multiple"></ngx-spinner>