/* Footer Links Styles Starts */

.footer-links {
    border-top: 1px solid #bcbcbc;
    padding: 25px 0 40px;
}

.footer-links h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    padding: 2px 0;
    font-size: 12px;
}

.footer-links li, .footer-links li a {
    color: #212121;
}

.footer-links li a:hover, .footer-links .last li a {
    color: #232323;
}

.footer-links .last h4.lead {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: normal;
    color: #8b8b8b;
}

.footer-links .last h4.lead span {
    color: #151515;
}

/* Copyright Styles Starts */

.copyright {
    background: #252a2f;
    padding: 18px 0 8px;
    font-size: 13px;
    color: #fff;
}

.copyright a, .copyright a:hover {
    color: #1ab394;
}

.copyright p {
    padding-top: 4px;
}

/* Genric Styles Starts */

.product-col .description, .footer-links li {
    font-family: 'Open Sans', sans-serif;
}

#main-menu.navbar {
    font-family: 'Oswald', sans-serif;
}

.product-col .btn-cart {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}