<footer id="footer-area">
	<!-- Copyright Area Starts -->
	<div class="copyright">
		<!-- Container Starts -->
		<div class="container">
			<!-- Starts -->
			<p class="pull-left">
				Copyright AGRA © 2018-2019 | Application développée par : <a href="https://www.linkedin.com/in/saad-tinani/"><strong>Saad TINANI</strong></a> & <a href="https://www.linkedin.com/in/karim-zohdi/"><strong>Karim ZOHDI</strong></a>
			</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
			<ul class="pull-right list-inline">
				<li>
					<img src="assets/layout/img/payment-icon/cirrus.png" alt="PaymentGateway" />
				</li>
				<li>
					<img src="assets/layout/img/payment-icon/paypal.png" alt="PaymentGateway" />
				</li>
				<li>
					<img src="assets/layout/img/payment-icon/visa.png" alt="PaymentGateway" />
				</li>
				<li>
					<img src="assets/layout/img/payment-icon/mastercard.png" alt="PaymentGateway" />
				</li>
				<li>
					<img src="assets/layout/img/payment-icon/americanexpress.png" alt="PaymentGateway" />
				</li>
			</ul>
			<!-- Payment Gateway Links Ends -->
		</div>
		<!-- Container Ends -->
	</div>
	<!-- Copyright Area Ends -->
</footer>