<div class="middle-box text-center animated fadeInDown">
	<h1>500</h1>
	<h3 class="font-bold">Erreur Interne du Serveur</h3>

	<div class="error-desc">
		Le serveur a rencontré quelque chose d'inattendu qui ne lui permettait pas de terminer la demande. Nous nous
		excusons.<br/>
		Vous pouvez revenir à la page principale: <br/><a routerLink="/" class="btn btn-primary m-t">Tableau de bord</a>
	</div>
</div>