<div class="middle-box text-center animated fadeInDown">
	<h1>404</h1>
	<h3 class="font-bold">Page introuvable</h3>

	<div class="error-desc">
		Désolé, mais la page que vous recherchez a été trouvée. Essayez de rechercher l'URL d'erreur, puis cliquez sur le
		bouton d'actualisation de votre navigateur ou essayez de trouver quelque chose d'autre dans notre application.
		<form class="form-inline m-t" role="form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Rechercher une page...">
			</div>
			<button type="submit" class="btn btn-primary">Rechercher</button>
		</form>
	</div>
</div>