<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Nouveau produit</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li>
				<a [routerLink]="['/administration/gestion-des-ingenieurs']">Gestion des produits</a>
			</li>
			<li class="active">
				<strong>Nouveau produit</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<fieldset class="form-horizontal">
						<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
							<div class="col-sm-2" style="text-align: center;">
								<div class="row">
									<img src="assets/layout/img/avatars/default.png" class="img-circle circle-border m-b-md profile-pic" alt="profile">
									<nz-form-item>
										<nz-form-label>Photo</nz-form-label>
										<nz-form-control>
											<input nz-input type="file" formControlName="picture" (change)="selectFile($event)">
											<nz-form-explain *ngIf="validateForm.get('picture').dirty && validateForm.get('picture').errors">
												<ng-container *ngIf="validateForm.get('picture').hasError('required')">
													Veuillez saisir votre Photo!
												</ng-container>
											</nz-form-explain>
										</nz-form-control>
									</nz-form-item>
									<!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
								</div>
							</div>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-12">
											<h2>Informations du produit</h2>
											<hr>
										</div>
										<div class="col-sm-6">
											<nz-form-item>
												<nz-form-label nzRequired>Nom</nz-form-label>
												<nz-form-control nzHasFeedback>
													<input nz-input type="text" [(ngModel)]="product.name" formControlName="name" placeholder="Nom">
													<nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
														<ng-container *ngIf="validateForm.get('name').hasError('required')">
															Veuillez saisir un Nom!
														</ng-container>
													</nz-form-explain>
												</nz-form-control>
											</nz-form-item>

											<nz-form-item>
												<nz-form-label nzRequired>Description</nz-form-label>
												<nz-form-control nzHasFeedback>
													<input nz-input type="text" [(ngModel)]="product.description" formControlName="description" placeholder="Description">
													<nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">
														<ng-container *ngIf="validateForm.get('description').hasError('required')">
															Veuillez saisir une Description!
														</ng-container>
													</nz-form-explain>
												</nz-form-control>
											</nz-form-item>

											<nz-form-item>
												<nz-form-label nzRequired>Catégorie</nz-form-label>
												<nz-form-control nzHasFeedback>
													<nz-select name="category" [(ngModel)]="categoryId" formControlName="category" nzShowSearch nzAllowClear
													 nzPlaceHolder="Veuillez choisir une catégorie...">
														<nz-option *ngFor="let category of getCategories()" nzValue="{{category.id}}" nzLabel="{{category.name}}"></nz-option>
													</nz-select>
												</nz-form-control>
											</nz-form-item>

										</div>

										<div class="col-sm-6">

											<nz-form-item>
												<nz-form-label nzRequired>Prix unitaire</nz-form-label>
												<nz-form-control nzHasFeedback>
													<input nz-input type="text" [(ngModel)]="product.unit_price" formControlName="unit_price" placeholder="Prix unitaire">
													<nz-form-explain *ngIf="validateForm.get('unit_price').dirty && validateForm.get('unit_price').errors">
														<ng-container *ngIf="validateForm.get('unit_price').hasError('required')">
															Veuillez saisir un Prix Uniataire!
														</ng-container>
													</nz-form-explain>
												</nz-form-control>
											</nz-form-item>

											<nz-form-item>
												<nz-form-label nzRequired>Quantité</nz-form-label>
												<nz-form-control nzHasFeedback>
													<input nz-input type="text" [(ngModel)]="product.quantity" formControlName="quantity" placeholder="Quantité">
													<nz-form-explain *ngIf="validateForm.get('quantity').dirty && validateForm.get('quantity').errors">
														<ng-container *ngIf="validateForm.get('quantity').hasError('required')">
															Veuillez saisir une Quantité!
														</ng-container>
													</nz-form-explain>
												</nz-form-control>
											</nz-form-item>

											<nz-form-item>
												<nz-form-label nzRequired>Région</nz-form-label>
												<nz-form-control nzHasFeedback>
													<nz-select name="region" [(ngModel)]="regionId" formControlName="region" nzShowSearch nzAllowClear
													 nzPlaceHolder="Veuillez choisir une région...">
														<nz-option *ngFor="let region of getRegions()" nzValue="{{region.id}}" nzLabel="{{region.name}}"></nz-option>
													</nz-select>
												</nz-form-control>
											</nz-form-item>

										</div>

										<div class="col-sm-12">
											<h2>Contrôle</h2>
											<hr>
										</div>

										<div class="col-sm-12">
											<nz-form-item>
												<nz-form-label nzRequired>
													Statut
													<i nz-icon nz-tooltip nzTitle="Activer / Désactiver ce produit" type="question-circle" theme="outline"
													 style="margin-top: 2px;"></i>
												</nz-form-label>
												<nz-form-control>
													<nz-switch [(ngModel)]="product.status" formControlName="status" [nzCheckedChildren]="checkedTemplate"
													 [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
													<ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
													<ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
												</nz-form-control>
											</nz-form-item>

										</div>

										<div class="col-sm-12">
											<nz-form-item>
												<nz-form-control>
													<button nz-button nzType="primary" [disabled]="!validateForm.valid" class="submit-margins">Confirmer</button>
													<button nz-button (click)="resetForm($event)" class="btn btn-default" class="submit-margins">Réinitialiser</button>
												</nz-form-control>
											</nz-form-item>
										</div>
									</div>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>