<!-- Wrapper-->
<div id="wrapper" class="background-color">

	<!-- Left navigation bar -->
	<side-nav-bar></side-nav-bar>

	<!-- Main page wrapper -->
	<div id="page-wrapper" class="gray-bg">

		<!-- Top navigation -->
		<top-nav-bar></top-nav-bar>

		<!-- Main view/routes wrapper-->
		<router-outlet></router-outlet>	
	
		<!-- Footer -->
		<admin-footer></admin-footer>

	</div>
	<!-- End page wrapper-->

</div>
<!-- End wrapper-->