<div>
	<div class="text-center animated fadeInDown">
		<h1 class="logo-name">AGRA</h1>
	</div>

	<div class="middle-box loginscreen text-center animated fadeInDown">
		<div>

			<!-- <div>
				<h1 class="logo-name">AGRA</h1>
			</div> -->

			<h3>Bienvenue chez AGRA Administration.</h3>

			<!-- <p>
				Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
				Continually expanded and constantly improved Inspinia Admin Them (IN+)
			</p> -->

			<p>Connectez-vous, pour le voir en action.</p>

			<form class="m-t" role="form" (submit)="onSubmit($event)">

				<div class="form-group">
					<input type="email" class="form-control" id="email" placeholder="Email" required="required">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" id="password" placeholder="Mot de passe" required="required">
				</div>

				<button type="submit" class="btn btn-primary block full-width m-b">S'identifer</button>

			</form>

			<p class="m-t"> <small>Copyright AGRA © 2018-2019</small></p>

		</div>
	</div>
</div>