<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">

		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> <span>
						<img alt="image" class="img-circle" src="assets/layout/img/avatars/profile_small.jpg" />
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold">{{ getCurrentUser().first_name }} {{ getCurrentUser().last_name }}</strong>
							</span>
							<!-- <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> -->
						</span>
					</a>
					<!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="#">Profil</a></li>
						<li><a href="#">Contacts</a></li>
						<li><a href="#">Boîte aux lettres</a></li>
						<li class="divider"></li>
						<li><a href="#">Se déconnecter</a></li>
					</ul> -->
				</div>
				<div class="logo-element">
					AGRA
				</div>
			</li>

			<li [ngClass]="{active: activeRoute('tableau-de-bord')}">
				<a [routerLink]="['./tableau-de-bord']"><i class="fa fa-dashboard" aria-hidden="true"></i> <span class="nav-label">Tableau de bord</span></a>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-des-commandes')}" *ngIf="getOrdersManagementRole()">
				<a [routerLink]="['./gestion-des-commandes']"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> <span class="nav-label">Gestion des commandes</span></a>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-des-ventes')}" *ngIf="getSalesManagementRole()">
				<a [routerLink]="['./gestion-des-ventes']"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="nav-label">Gestion des ventes</span></a>
			</li>

			<!--<li [ngClass]="{active: activeRoute('gestion-des-tarifs')}" *ngIf="getPricesManagementRole()">
				<a [routerLink]="['./gestion-des-tarifs']"><i class="fa fa-money" aria-hidden="true"></i> <span class="nav-label">Gestion des tarifs</span></a>
			</li>-->

			<li [ngClass]="{active: activeRoute('gestion-des-produits')}" *ngIf="getProductsManagementRole()">
				<a [routerLink]="['./gestion-des-produits']"><i class="fa fa-tags" aria-hidden="true"></i> <span class="nav-label">Gestion des produits</span></a>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-du-personnel')}" *ngIf="(getDirectorsManagementRole() || getEngineersManagementRole()) && (getRoleId()==1)">
				<a href="#"><i class="fa fa-user-secret" aria-hidden="true"></i> <span class="nav-label">Gestion du personnel</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('gestion-du-personnel')}">
					<li [ngClass]="{active: activeRoute('500')}"><a [routerLink]="['./gestion-du-personnel/gestion-des-directeurs']" *ngIf="getDirectorsManagementRole()">Gestion des directeurs</a></li>
					<li [ngClass]="{active: activeRoute('page-not-found')}"><a [routerLink]="['./gestion-du-personnel/gestion-des-ingenieurs']" *ngIf="getEngineersManagementRole()">Gestion des ingénieurs</a></li>
				</ul>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-des-ingenieurs')}" *ngIf="getEngineersManagementRole() && (getRoleId()==2)">
				<a [routerLink]="['./gestion-des-ingenieurs']"><i class="fa fa-user-secret" aria-hidden="true"></i> <span class="nav-label">Gestion des ingénieurs</span></a>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-des-clients')}" *ngIf="getClientsManagementRole()">
				<a [routerLink]="['./gestion-des-clients']"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">Gestion des clients</span></a>
			</li>

			<li [ngClass]="{active: activeRoute('gestion-des-privileges')}" *ngIf="getPrivilegesManagementRole()">
				<a [routerLink]="['./gestion-des-privileges']"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span class="nav-label">Gestion des privilèges</span></a>
			</li>
		</ul>

	</div>
</nav>