/* Start Store Syles */

#owl-product .item {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#owl-product .owl-controls {
    margin: 0 !important;
}

#owl-product .owl-controls .owl-buttons div {
    position: absolute !important;
    background: none !important;
    font-size: 26px !important;
}

#owl-product .owl-controls .owl-buttons .owl-prev, #owl-product .owl-controls .owl-buttons .owl-next {
    top: -61px !important;
    color: #fff !important;
}

#owl-product .owl-controls .owl-buttons .owl-prev {
    right: 60px !important;
}

#owl-product .owl-controls .owl-buttons .owl-next {
    right: 20px !important;
}

.submit-margins {
    margin-right: 1rem;
}