<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des clients</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des clients</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getClientsNumber() }} Clients</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher un client..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let client of clients | clientsFilter: searchText">
										<td class="text-center">{{ client.id }}</td>
										<td>
											<img class="client-avatar" alt="image" src="assets/layout/img/avatars/{{ client.avatar }}">
											{{ client.getFullName() }}
										</td>
										<td>{{ client.cin }}</td>
										<td>{{ client.username }}</td>
										<td>{{ client.email }}</td>
										<td>{{ client.phone }}</td>
										<td>{{ client.address }}</td>
										<td>{{ client.city.name }}</td>
										<td class="text-center">{{ client.zip_code }}</td>
										<td class="client-status text-center">
											<span class="label label-primary" style="width: 100%;" *ngIf="client.status">Activé</span>
											<span class="label label-danger" style="width: 100%;" *ngIf="!client.status">Désactivé</span>
										</td>
										<td class="text-center">
											<a class="btn btn-primary btn-xs" *ngIf="!client.status" (click)="changeClientStatusConfirmation(client, 'Êtes-vous sûr d\'activer ce client?')">
												<i class="fa fa-check"></i> Activer
											</a>
											<a class="btn btn-danger btn-xs" *ngIf="client.status" (click)="changeClientStatusConfirmation(client, 'Êtes-vous sûr de désactiver ce client?')">
												<i class="fa fa-times"></i> Désactiver
											</a>
										</td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" [routerLink]="['./client/', client.id]">
												<i class="fa fa-edit"></i> Modifier
											</a>
										</td>
									</tr>
									<tr *ngIf="getClientsNumber() == 0">
										<td colspan="11" class="text-center">
											Aucun client.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th colspan="2" class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</tfoot>
							</table>

							<div>
								<a [routerLink]="['./nouveau-client']" class="btn btn-primary btn-sm pull-left">
									<i class="fa fa-user-plus"></i> Nouveau client
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>