<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des commandes</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des commandes</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getOrdersNumber() }} Commandes</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher une commande..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Référence</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let order of getOrders() | ordersFilter: searchText">
										<td class="text-center">
											{{ order.id }}
										</td>
										<td class="text-center">
											{{ order.reference | uppercase }}
										</td>
										<td>
											{{ order.client.first_name }} {{ order.client.last_name }}
										</td>
										<td class="text-center">
											{{ order.client.cin }}
										</td>
										<td class="text-center">
											{{ order.client.phone }}
										</td>
										<td>
											{{ order.client.email }}
										</td>
										<td class="text-center">
											{{ order.client.address }}
										</td>
										<td class="text-center">
											{{ order.client.city.name }}
										</td>
										<td class="text-center">
											{{ order.client.zip_code }}
										</td>
										<td class="client-status text-center">
											<span class="label label-danger" style="width: 100%;" *ngIf="order.status == 0">Annulée</span>
											<span class="label label-success" style="width: 100%;" *ngIf="order.status == 1">Nouvelle</span>
											<span class="label label-warning" style="width: 100%;" *ngIf="order.status == 2">En attente</span>
											<span class="label label-primary" style="width: 100%;" *ngIf="order.status == 3">Validée</span>
										</td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" [routerLink]="['./vente/', order.id]">
												<i class="fa fa-info-circle" aria-hidden="true"></i> Consulter
											</a>
										</td>
									</tr>
									<tr *ngIf="getOrdersNumber() == 0">
										<td colspan="12" class="text-center">
											Aucune commande.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Référence</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">CIN</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Adresse</th>
										<th class="text-center" style="width: auto;">Ville</th>
										<th class="text-center" style="width: auto;">Code postal</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th class="text-center" style="width: auto;">Contrôle</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>