<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Gestion des ingénieurs</h2>
		<ol class="breadcrumb">
			<li>
				<a [routerLink]="['/administration']">Accueil</a>
			</li>
			<li class="active">
				<strong>Gestion des ingénieurs</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="table-responsive">
						<div class="clients">
							<div>
								<h2 class="col-lg-6 clients-number">{{ getEngineersNumber() }} Ingénieurs</h2>

								<div class="col-lg-6 input-group pull-right">
									<input type="text" [(ngModel)]="searchText" placeholder="Rechercher un ingénieur..." class="input form-control">
									<span class="input-group-btn">
										<button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Rechercher</button>
									</span>
								</div>
							</div>

							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr role="row">
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Région de travail</th>
										<th class="text-center" style="width: auto;">Villes de travail</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th class="text-center" style="width: auto;" colspan="2">Contrôle</th>
									</tr>
								</thead>

								<tbody>

									<tr *ngFor="let engineer of engineers | engineersFilter: searchText">
										<td class="text-center">
											{{ engineer.user.id }}
										</td>
										<td>
											<img class="client-avatar" alt="image" src="assets/layout/img/{{ engineer.avatar }}">
											{{ engineer.user.first_name }} {{ engineer.user.last_name }}
										</td>
										<td>
											{{ engineer.user.username }}
										</td>
										<td>
											{{ engineer.user.email }}
										</td>
										<td class="text-center">
											{{ engineer.user.phone }}
										</td>
										<td>
											{{ engineer.work_region.name }}
										</td>
										<td>
											<span *ngFor="let city of engineer.work_cities">
												- {{ city.name }}<br>
											</span>
										</td>
										<td class="client-status text-center">
											<span class="label label-primary" style="width: 100%;" *ngIf="engineer.user.status == 1">Activé</span>
											<span class="label label-danger" style="width: 100%;" *ngIf="engineer.user.status == 0">Désactivé</span>
										</td>
										<td class="text-center">
											<a class="btn btn-primary btn-xs" *ngIf="engineer.user.status == 0" (click)="changeEngineerStatusConfirmation(engineer, 'Êtes-vous sûr d\'activer cet ingénieur?')">
												<i class="fa fa-check"></i> Activer
											</a>
											<a class="btn btn-danger btn-xs" *ngIf="engineer.user.status == 1" (click)="changeEngineerStatusConfirmation(engineer, 'Êtes-vous sûr de désactiver cet ingénieur?')">
												<i class="fa fa-times"></i> Désactiver
											</a>
										</td>
										<td class="text-center">
											<a class="btn btn-success btn-xs ctrl-btn-marging" [routerLink]="['./ingenieur/', engineer.id]">
												<i class="fa fa-edit"></i> Modifier
											</a>
										</td>
									</tr>
									<tr *ngIf="getEngineersNumber() == 0">
										<td colspan="12" class="text-center">
											Aucun ingénieur.
										</td>
									</tr>
								</tbody>

								<tfoot>
									<tr>
										<th class="text-center" style="width: auto;">#ID</th>
										<th class="text-center" style="width: auto;">Nom complet</th>
										<th class="text-center" style="width: auto;">Nom d'utilisateur</th>
										<th class="text-center" style="width: auto;">Email</th>
										<th class="text-center" style="width: auto;">Téléphone</th>
										<th class="text-center" style="width: auto;">Région de travail</th>
										<th class="text-center" style="width: auto;">Villes de travail</th>
										<th class="text-center" style="width: auto;">Statut</th>
										<th class="text-center" style="width: auto;" colspan="2">Contrôle</th>
									</tr>
								</tfoot>
							</table>

							<div>
								<a [routerLink]="['./nouvel-ingenieur']" class="btn btn-primary btn-sm pull-left">
									<i class="fa fa-user-plus"></i> Nouveau ingénieur
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>